{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!-- Contenido -->

  <div class="container mt-5">
    <div class="row">
        <div class="col-12 mt-5">
            <h2 class="wow pulse">¿Qué afirma la ciencia de la nutrición?</h2>
            <p class="lead">Asociaciones nutricionistas de todo el mundo afirman que una alimentación vegetariana estricta (vegana) equilibrada es apta para todas las etapas de la vida, desde la concepción, niñez, adolescencia y adultez, y también para los atletas.
            Asimismo, proporciona beneficios en la prevención y mejora de algunas enfermedades, desde la prevención cardiovascular hasta el cáncer, además de otras dolencias crónicas como la diabetes y algunas enfermedades degenerativas.
            Por si no fuera poco, existen millones de personas veganas que llevan vidas saludables, incluso algunas participan en deportes de alta competición.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 mt-5">
            <h2 class="wow pulse">Guía para el cambio en 3 pasos</h2>
            <h3 class="wow zoomInLeft" data-wow-delay="0.4s">1- ¡Infórmate!</h3>
            <p class="lead">El <span>veganismo</span> se basa en razones éticas. Infórmate sobre <span>especismo</span>, sobre los tipos de explotación que padecen los demás animales, sobre los motivos por los cuales es necesario argumentar y debatir desde una postura racional basada en la ciencia, acerca de la importancia del <span>activismo</span>, etc. </p>
            <h3 class="wow zoomInLeft" data-wow-delay="0.7s">2- Reemplaza ingredientes</h3>
            <p class="lead">Podés seguir comiendo platos tradicionales con sabores muy similares a los que estás acostumbrado (la clave está en los condimentos), reemplazando los ingredientes animales -carnes blancas y rojas, lácteos, huevos, miel- por otros de origen vegetal: </p>
            <ul>
                <li>Pizzas: Podés preparar quesos veganos muy ricos y sencillos, como el quesofu (queso de tofu), de girasol, de almendras, de castañas de cajú.</li>
                <li>Milanesas y hamburguesas: Estas pueden ser de garbanzos, de seitán, de porotos, de soja, etc. Podés hacerlas a la napolitana utilizando quesos veganos.</li>
                <li>Tartas y empanadas: Hechas de soja, lentejas, “no atún”, “no pollo”, etc. Pueden estar acompañadas de cualquier queso vegano.</li>
                <li>Pastas: Canelones, lasagnas, agnolotis, ravioles, sorrentinos, etc. Se reemplaza la utilización de huevos o lácteos, y se rellenan con ingredientes vegetales. Las pastas secas de sémola que no estén acompañadas de huevo son aptas veganas.</li>
                <li>Parrillada: carnes vegetales (salchichas, chorizos, hamburguesas, vacío, todos productos exentos de ingredientes animales).</li>
                <li>Fiambres veganos: quesos blandos, semiblandos y duros, jamón, salames y cualquier tipo de fiambre hechos con materia prima 100% vegetal.</li>
            </ul>
            <h3 class="wow zoomInLeft" data-wow-delay="0.5s">3- Conoce sobre nutrición</h3>
            <p class="lead">¿Hay alimentos esenciales?<br>
            No. Hay nutrientes esenciales. Se puede vivir sin un alimento específico, pero debería asegurarse algún alimento de cada grupo para que los nutrientes esenciales estén presentes. Por ejemplo, en el grupo de legumbres, hay muchas opciones, debe haber alguna de ellas en el día: lentejas, garbanzos, arvejas, frijoles, soja, porotos, habas. Y lo mismo ocurre con los demás grupos de alimentos.
            ¿Qué nutrientes son esenciales?<br>
            Los nutrientes esenciales son: calorías, hidratos de carbono, grasa omega 3 y 6, proteínas o aminoácidos, vitaminas y minerales. Para saber cómo obtener algunos de ellos, como ser proteínas, calcio, hierro, omega 3, vitamina D y vitamina B12 (la cual se adquiere sólamente tomando suplementos), podés leer las recomendaciones elaboradas por la Lic. Agustina Mori.
            Para el cuidado de tu salud, siempre es aconsejable obtengas asesoramiento de un profesional. Aquí podrás acceder al listado de nutricionistas que elaboran planes de alimentación apto veganos.</p>
        </div>
    </div>
    </div>
    

<div class="fondo-imagen"> 
    <div class="fondo-alpha">
      <div class="container py-5 mt-5" id="sano">
        <div>
            <h1 class="wow pulse text-warning mb-4">Reglas Básicas para una alimentación vegana saludable</h1>
            <ul class="reglas">
                <li>
                    <p class="reglas">Lo más importante: alimentarse de la forma más variada posible.</p>
                </li>
                <li>
                    <p class="reglas">Tomar un complemento alimenticio de vitamina B12, y en invierno eventualmente de vitamina D (puede ser vitamina D2 vegan o vitamina D3 de origen vegan) y Yodo, que se obtiene de las algas o de la sal yodada, si bien esta última se debe tomar con moderación.  </p>
                </li>
                <li>
                    <p class="reglas">Tomar en las comidas una bebida con alto contenido en vitamina C para optimizar la asimilación de hierro.  </p>
                </li>
                <li>
                    <p class="reglas">Evitar el consumo de azúcares refinados y harinas blancas. </p>
                </li>
                <li>
                    <p class="reglas">Restringir la cantidad de aceites y grasas adicionales (si se padecen enfermedades cardíacas, evitar completamente su consumo). Esta regla no debe aplicarse a los niños pequeños vegan. </p>
                </li>
                <li>
                    <p class="reglas">Se aconseja obtener el omega-3 de semillas de lino recién molido.</p>
                </li>
                <li>
                    <p class="reglas">Restringir el consumo de alimentos elaborados de forma industrial. </p>
                </li>
                <li>
                    <p class="reglas">Dar preferencia a las frutas, verduras, legumbres, nueces y productos integrales.</p>
                </li>
            </ul>
        </div>
      </div>
    </div>
    
</div>
{% endblock %}
{% block scripts %}
  
  <script src="{% static 'core/vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 
  <script src="{% static 'core/vendor/wow/wow.min.js' %}"></script>

    <script>
        new WOW().init();
    </script>
{% endblock %}